#root,html,body{
  margin:0;
  padding:0;
  height:100vh;
  box-sizing:border-box;  
}

.app{
  height:100%;
  background-color:#FD7272;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.card{
  background-color:whitesmoke;
  width:40%;
  height:20%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  border-radius:5px;
  padding:5px;
  box-shadow:10px 10px 10px #2C3A47;
}

.tipText{
  display:flex;
  align-items:center;
  height:580px;
}
